In [26]:
import re
import pandas as pd

In [27]:
filename = ''
output_file = ''
# TODO define Headers
column_names = ['','Pt','T','Vf','Im','Vu','Pwr','Sig','Ach','Temp','IERange','Over']
cols = ['Pt','T','Vf','Im','Vu','Pwr','Sig','Ach','Temp','IERange']
out_cols  = ['Pt','T','Vf','Im']

In [28]:
pattern = re.compile('[ \t]#[ \t]')

for i, line in enumerate(open(filename)):
        for match in re.finditer(pattern, line):
            fromline = (i + 1)

In [29]:
df = pd.read_csv(filename,sep='\t',engine = 'python', skiprows = fromline,skipfooter=1,names = column_names,usecols = cols)

In [30]:
df.to_csv(output_file,sep='\t',columns=out_cols)

   Pt    T       Vf        Im   Vu       Pwr  Sig       Ach     Temp  IERange
0   0   20  2.09764 -0.000202  0.0 -0.000424 -0.1 -0.000185 -327.566        9
1   1   40  2.09531 -0.000202  0.0 -0.000423 -0.1 -0.000186 -327.566        9
2   2   60  2.09370 -0.000202  0.0 -0.000423 -0.1 -0.000185 -327.566        9
3   3   80  2.09215 -0.000202  0.0 -0.000423 -0.1 -0.000186 -327.566        9
4   4  100  2.09066 -0.000202  0.0 -0.000423 -0.1 -0.000183 -327.566        9